.body{ .mai{
.productos {
    display: flex;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;

    .prod-block {
    background-color: rgba(105, 105, 105, 0.26);
    text-align: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.623);

        
    .prod-img {
        width: 200px;
        margin: 10px;
        border-radius: 20px;
    }


    .promos img{
        border-radius: 30px;
        margin: 40px;
        border-style: dashed;
    }
}}

.productos :hover {
    transform: scale(1.1,1.1);
}}}