@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins&display=swap');

$fontNunito: "Nunito";


$mainColor: rgb(255, 136, 0);
$secundaryColor: rgb(255, 255, 255);
$alternativecColor: #bd4b00;
